<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List View</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <td>Vendor</td>
                <td>Total</td>
                <td>Tax</td>
                <td>Date</td>
                <td>Category</td>
                <td>Account</td>
            </thead>
            <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{item.vendor}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.tax}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.account}}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </main>
</body>
</html>
